<div class="container">
	<div class="row">
		<div class="well col-md-4 text-center">
			
<p id="notice"><%= notice %></p>


  <strong>Name:</strong>
  <%= @dog.name %>



  <strong>Picture:</strong>
  <%= image_tag @dog.picture, class: "img-responsive" %>


<p>
  <strong>Age:</strong>
  <%= @dog.age %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @dog.desc %>
</p>

<%= link_to 'Edit', edit_dog_path(@dog), class: "btn btn-info" %> |
<%= link_to 'Back', dogs_path, class: "btn btn-danger" %>
		</div>

	</div>
</div>
